APP_NAME=KILASAN
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost/pengmas/KILASAN/public

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=kilasan
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

FILESYSTEM_DISK=public
CACHE_STORE=database
QUEUE_CONNECTION=database

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@kilasan.local"
MAIL_FROM_NAME="${APP_NAME}"
